[Main]
CONFIG_NAME=terrasarx
CONFIG_VERSION=terrasarx_02
# the general workspace
OUTSPACE=/mount/damps/hsm/PSI/TPM_EOSIP/test_datasets/converted/terrasar_x/out
TMPSPACE=/mount/damps/hsm/PSI/TPM_EOSIP/test_datasets/converted/terrasar_x/tmp
DONESPACE=/mount/damps/hsm/PSI/TPM_EOSIP/test_datasets/converted/terrasar_x/done
FAILEDSPACE=/mount/damps/hsm/PSI/TPM_EOSIP/test_datasets/converted/terrasar_x/failed
INBOX=/mount/damps/hsm/PSI/TPM_EOSIP/test_datasets/raw/terrasar_x

[Search]
LIST_TYPE=files
FILES_NAMEPATTERN=.*               
FILES_EXTPATTERN=.gz

[Output]
#OUTPUT_RELATIVE_PATH_TREES=["getMetadataValue('METADATA_START_DATE')[0:4]/getMetadataValue('METADATA_START_DATE')[5:7]/getMetadataValue('METADATA_START_DATE')[8:12]"]
OUTPUT_RELATIVE_PATH_TREES=[]
OUTPUT_SIP_PATTERN=HIGHTRES_PATTERN_INSTANCE_GENERIC_DTYXvV
OUTPUT_EO_PATTERN=HIGHTRES_PATTERN_INSTANCE_GENERIC_DTYXVC

[Mission-specific-values]
#
METADATA_CREATOR=ESA
METADATA_SIP_CHANGE_LOG=Incidence angle now included. Updated to reflect proper versioning.
METADATA_SIP_SPEC_NAME_VERSION=EO SIP Specialization for TerraSAR-X products v:1.4
#
METADATA_ACQUISITION_TYPE=NOMINAL
METADATA_ACQUISITION_CENTER=UNKNOWN
METADATA_BROWSES_TYPE=QUICKLOOK
METADATA_CODESPACE_SENSOR_OPERATIONAL_MODE=urn:esa:eop:TerraSARX:X-SAR:operationalMode
METADATA_REFERENCE_SYSTEM_IDENTIFIER=EPSG:4326
METADATA_CODESPACE_REFERENCE_SYSTEM=urn:esa:eop:crs
METADATA_CODESPACE_WRS_LONGITUDE_GRID_NORMALISED=urn:esa:eop:TerraSARX:TileColumn
METADATA_CODESPACE_WRS_LATITUDE_GRID_NORMALISED=urn:esa:eop:TerraSARX:TileRow
METADATA_FILECLASS=OPER
#METADATA_ORBIT=0
METADATA_PLATFORM=TerraSAR-X
METADATA_INSTRUMENT=X-SAR
METADATA_REPORT_TYPE=ARCHIVING
METADATA_RESPONSIBLE=ESA
#METADATA_RESOLUTION_UNIT=meters
METADATA_SENSOR_TYPE=RADAR
METADATA_STATUS=ARCHIVED
METADATA_SIP_VERSION=0104
METADATA_PRODUCT_VERSION=0000
# BROWSE
METADATA_PLATFORM_2DIGITS_ALIAS=TS
METADATA_PLATFORM_ID=X
# for kmz creation
#METADATA_KMZ_USE_BOOUNDINGBOX=False
METADATA_KMZ_DONT_REVERSE_BROWSE=True
# TO BE REMOVED
#METADATA_GENERATION_TIME=2018-09-14T14:00:00Z                                                     

[metadataReport-xml-map]
#need to replace : with _ because otherwise reading is wrong
/sar_EarthObservation/om_procedure/eop_EarthObservationEquipment/eop_platform/eop_Platform/eop_serialIdentifier=UNUSED
/sar_EarthObservation/om_procedure/eop_EarthObservationEquipment/eop_acquisitionParameters/sar_Acquisition/sar_minimumIncidenceAngle=UNUSED
/sar_EarthObservation/om_procedure/eop_EarthObservationEquipment/eop_acquisitionParameters/sar_Acquisition/sar_maximumIncidenceAngle=UNUSED
/sar_EarthObservation/om_procedure/eop_EarthObservationEquipment/eop_acquisitionParameters/sar_Acquisition/sar_incidenceAngleVariation=UNUSED
/sar_EarthObservation/om_procedure/eop_EarthObservationEquipment/eop_acquisitionParameters/sar_Acquisition/sar_dopplerFrequency=UNUSED
#/sar_EarthObservation/om_procedure/eop_EarthObservationEquipment/eop_acquisitionParameters/sar_Acquisition/eop_incidenceAngle=UNUSED
/sar_EarthObservation/eop_metaDataProperty/eop_EarthObservationMetaData/eop_parentIdentifier=UNUSED
/sar_EarthObservation/eop_metaDataProperty/eop_EarthObservationMetaData/eop_downlinkedTo=UNUSED
/sar_EarthObservation/om_result/eop_EarthObservationResult/eop_product/eop_version=UNUSED
/sar_EarthObservation/eop_metaDataProperty/eop_EarthObservationMetaData/eop_processing=UNUSED
/sar_EarthObservation/eop_metaDataProperty/eop_EarthObservationMetaData/eop_productQualityStatus=UNUSED

#
[browseReport-xml-map]
#need to set something :






[Workflow]
VERIFY_SRC_PRODUCT=False
VALIDATE_XML=True
SANITIZE_XML=True
MAX_PRODUCTS_DONE=-1
PRODUCT_OVERWRITE=False
SETTING_CAN_AUTOCORRECT_FILECOUNTER=True
WANT_DUPLICATE=False
#
CREATE_INDEX=False
CREATE_THUMBNAIL=False
CREATE_SHOPCART=False
CREATE_BROWSE_REPORT=False
CREATE_SYS_ITEMS=True
CREATE_KMZ=True
INDEX_ADDED_FIELD=METADATA_PROCESSING_LEVEL:@METADATA_PROCESSING_LEVEL@|METADATA_SENSOR_NAME:@METADATA_SENSOR_NAME@|METADATA_SENSOR_CODE:@METADATA_SENSOR_CODE@|METADATA_SENSOR_OPERATIONAL_MODE:@METADATA_SENSOR_OPERATIONAL_MODE@
FIXED_BATCH_NAME=terrasarx
TEST_DONT_EXTRACT=False
TEST_DONT_WRITE=False
TEST_DONT_DO_BROWSE=False
# in GB
DISK_LOW_SPACE_LIMIT=1


[eoSip]
TYPOLOGY=SAR
VERSION=101
#STORE_TYPE=SRC_PRODUCT_AS_FILE_INTO_EOZIP
STORE_TYPE=SRC_PRODUCT_AS_FILE
#STORE_TYPE=SRC_PRODUCT_AS_ZIP
#STORE_TYPE=SRC_PRODUCT_AS_TGZ
#STORE_TYPE=SRC_PRODUCT_AS_DIR
STORE_COMPRESSION=False
STORE_EO_COMPRESSION=True

[Data]

[Ressources]
stretchAppExe=/opt/converter/current_terrasar_x/eoSip_converter/addon_converter/run_stretchApp.sh

[Services]
xmlValidate=HttpCall@httpService@None|./ressources/services/xmlValidate.props
remoteLogger=RemoteLoggerService@remoteLoggerService@None|./ressources/services/remoteLogger.props