[Main]
CONFIG_NAME=p-neo
CONFIG_VERSION=pneo-eosip-specification-1.2_01
# the general workspace
OUTSPACE=TBD
TMPSPACE=TBD
DONESPACE=TBD
FAILEDSPACE=TBD
INBOX=TBD

[Search]
LIST_TYPE=files
FILES_NAMEPATTERN=^.*
FILES_EXTPATTERN=^.zip

[Output]
OUTPUT_RELATIVE_PATH_TREES=[]
OUTPUT_SIP_PATTERN=HIGHTRES_PATTERN_INSTANCE_GENERIC_DTYXv2V5
OUTPUT_EO_PATTERN=<yyyymmddThhmmss>_<LLL>-<LLL>_<OOOO>-<OOO>_<vv>

[Mission-specific-values]
METADATA_FILECOUNTER=1
METADATA_ORBIT=0
METADATA_ORBIT_DIRECTION=DESCENDING
METADATA_REPORT_TYPE=ARCHIVING
METADATA_RESPONSIBLE=ESA
METADATA_CREATOR=ESA
METADATA_BROWSES_TYPE=QUICKLOOK
METADATA_FILECLASS=OPER
METADATA_SIP_VERSION=102
METADATA_PLATFORM=Pleiades Neo
METADATA_STATUS=ARCHIVED
METADATA_ACQUISITION_TYPE=NOMINAL
METADATA_SENSOR_TYPE=OPTICAL
METADATA_SENSOR_NAME=NEO
METADATA_INSTRUMENT=PNEO
METADATA_PARENT_IDENTIFIER=ESA-Pleiades-Neo
METADATA_CODESPACE_REFERENCE_SYSTEM=urn:esa:eop:crs
METADATA_CODESPACE_WRS_LONGITUDE_GRID_NORMALISED=urn:esa:eop:Pleiades Neo:TileColumn
METADATA_CODESPACE_WRS_LATITUDE_GRID_NORMALISED=urn:esa:eop:Pleiades Neo:TileRow
METADATA_CODESPACE_SENSOR_OPERATIONAL_MODE=urn:esa:eop:Pleiades Neo:PNEO:Mode
METADATA_PRODUCT_SIZE_UOM=bytes
METADATA_KMZ_USE_BOOUNDINGBOX=False

# FIELD NOT PRESENT IN EXAMPLE TEST DATA
METADATA_QUALITY_STATUS=NOMINAL

[metadataReport-xml-map]
#need to replace : with _ because otherwise reading is wrong
/opt_EarthObservation/om_procedure/opt_EarthObservationEquipment/eop_acquisitionParameters/eop_Acquisition/eop_ascendingNodeLongitude=UNUSED
/opt_EarthObservation/eop_metaDataProperty/eop_EarthObservationMetaData/eop_downlinkedTo=UNUSED
/opt_EarthObservation/eop_metaDataProperty/eop_EarthObservationMetaData/eop_productQualityStatus=UNUSED
/opt_EarthObservation/eop_metaDataProperty/eop_EarthObservationMetaData/eop_processing/eop_ProcessingInformation/eop_processingLevel=UNUSED
/opt_EarthObservation/eop_metaDataProperty/eop_EarthObservationMetaData/eop_processing/eop_ProcessingInformation/eop_processorVersion=UNUSED

[Workflow]
MOVE_TO_OUTBOX=False
VERIFY_SRC_PRODUCT=False
VALIDATE_XML=True
SANITYZE_XML=True
MAX_PRODUCTS_DONE=-1
PRODUCT_OVERWRITE=False
CREATE_INDEX=False
CREATE_THUMBNAIL=False
CREATE_SHOPCART=False
CREATE_BROWSE_REPORT=False
CREATE_SIP_REPORT=True
CREATE_SYS_ITEMS=True
CREATE_KMZ=False
INDEX_ADDED_FIELD=METADATA_PROCESSING_LEVEL:@METADATA_PROCESSING_LEVEL@|METADATA_SENSOR_NAME:@METADATA_SENSOR_NAME@|METADATA_SENSOR_CODE:@METADATA_SENSOR_CODE@|METADATA_SENSOR_OPERATIONAL_MODE:@METADATA_SENSOR_OPERATIONAL_MODE@
FIXED_BATCH_NAME=luigi_
TEST_DONT_EXTRACT=False
TEST_DONT_WRITE=False
TEST_DONT_DO_BROWSE=False
TEST_MODE=False
# in GB
DISK_LOW_SPACE_LIMIT=8

[eoSip]
TYPOLOGY=OPT
VERSION=100
STORE_TYPE=SRC_PRODUCT_AS_ZIP
STORE_COMPRESSION=False
STORE_EO_COMPRESSION=False

[Data]

[Ressources]
stretchAppExe=/opt/converter/pylib/eoSip_converter/addon_converter/run_stretchApp.sh

[Services]
xmlValidate=HttpCall@httpService@None|./ressources/services/xmlValidate.props
graphiteEvents=RequestService@requestService@None|./ressources/services/graphiteEvents.props
