[Main]
CONFIG_NAME=iceye
CONFIG_VERSION=iceye_01
OUTSPACE=C:\Users\TDEL-TUTTO\projects\ConverterDAMPS\TDS\ICEYE\OUTSPACE
TMPSPACE=C:\Users\TDEL-TUTTO\projects\ConverterDAMPS\TDS\ICEYE\TMPSPACE
DONESPACE=C:\Users\TDEL-TUTTO\projects\ConverterDAMPS\TDS\ICEYE\DONESPACE
FAILEDSPACE=C:\Users\TDEL-TUTTO\projects\ConverterDAMPS\TDS\ICEYE\FAILEDSPACE
INBOX=C:\Users\TDEL-TUTTO\projects\ConverterDAMPS\TDS\ICEYE\INBOX

[Search]
LIST_TYPE=files
FILES_NAMEPATTERN=^.*
FILES_EXTPATTERN=^.xml

[Output]
OUTPUT_RELATIVE_PATH_TREES=[]
OUTPUT_SIP_PATTERN=HIGHTRES_PATTERN_INSTANCE_GENERIC_DTYXv2V4
OUTPUT_EO_PATTERN=HIGHTRES_PATTERN_INSTANCE_GENERIC_DTYXV2C

[Mission-specific-values]
METADATA_SIP_CHANGE_LOG=First Issue
METADATA_SIP_SPEC_NAME_VERSION=EOSIP Specialization for ICEYE products v1.0
METADATA_SIP_SOFTWARE_NAME=eoProdGen
METADATA_SIP_SOFTWARE_VERSION=1.0.0
METADATA_PLATFORM_2DIGITS_ALIAS=IC
METADATA_ACQUISITION_TYPE=NOMINAL
METADATA_ACQUISITION_CENTER=UNKNOWN
METADATA_BROWSES_TYPE=QUICKLOOK
METADATA_CODESPACE_REFERENCE_SYSTEM=urn:esa:eop:crs
METADATA_CODESPACE_WRS_LATITUDE_GRID_NORMALISED=urn:esa:eop:ICEYE:Row
METADATA_CODESPACE_WRS_LONGITUDE_GRID_NORMALISED=urn:esa:eop:ICEYE:Path
METADATA_SENSOR_OPERATIONAL_MODE=CAMERA
METADATA_CODESPACE_SENSOR_OPERATIONAL_MODE=urn:esa:eop:ICEYE:SAR:operationalMode
METADATA_POLARISATION_MODE=S
METADATA_POLARISATION_CHANNELS=VV
METADATA_REFERENCE_SYSTEM_IDENTIFIER=EPSG:4326
METADATA_CREATOR=ESA
METADATA_FILECLASS=OPER
METADATA_ORBIT=0
METADATA_PLATFORM=ICEYE
METADATA_INSTRUMENT=SAR
METADATA_PLATFORM_ID=E
METADATA_REPORT_TYPE=ARCHIVING
METADATA_RESPONSIBLE=ESA
METADATA_RESOLUTION_UNIT=m
METADATA_SENSOR_TYPE=RADAR
METADATA_STATUS=ARCHIVED
METADATA_SIP_VERSION=0100
METADATA_PRODUCT_VERSION=01
BROWSE_METADATA_IMAGE_TYPE=QUICKLOOK to be checked
# for kmz creation
METADATA_KMZ_USE_BOOUNDINGBOX=False

[metadataReport-xml-map]
/sar_EarthObservation/om_procedure/eop_EarthObservationEquipment/eop_platform/eop_Platform/eop_serialIdentifier=UNUSED
/sar_EarthObservation/om_procedure/eop_EarthObservationEquipment/eop_acquisitionParameters/sar_Acquisition/eop_illuminationAzimuthAngle=UNUSED
/sar_EarthObservation/om_procedure/eop_EarthObservationEquipment/eop_acquisitionParameters/sar_Acquisition/sar_minimumIncidenceAngle=UNUSED
/sar_EarthObservation/om_procedure/eop_EarthObservationEquipment/eop_acquisitionParameters/sar_Acquisition/sar_maximumIncidenceAngle=UNUSED
/sar_EarthObservation/om_procedure/eop_EarthObservationEquipment/eop_acquisitionParameters/sar_Acquisition/sar_incidenceAngleVariation=UNUSED
/sar_EarthObservation/om_procedure/eop_EarthObservationEquipment/eop_acquisitionParameters/sar_Acquisition/sar_dopplerFrequency=UNUSED
/sar_EarthObservation/om_result/eop_EarthObservationResult/eop_browse=UNUSED
/sar_EarthObservation/om_result/eop_EarthObservationResult/eop_product/eop_version=UNUSED
/sar_EarthObservation/eop_metaDataProperty/eop_EarthObservationMetaData/eop_parentIdentifier=UNUSED
/sar_EarthObservation/eop_metaDataProperty/eop_EarthObservationMetaData/eop_downlinkedTo=UNUSED
/sar_EarthObservation/eop_metaDataProperty/eop_EarthObservationMetaData/eop_productQualityDegradation=UNUSED

[Workflow]
VERIFY_SRC_PRODUCT=False
VALIDATE_XML=True
SANITIZE_XML=True
MAX_PRODUCTS_DONE=-1
PRODUCT_OVERWRITE=False
CREATE_INDEX=False
CREATE_THUMBNAIL=False
CREATE_SHOPCART=False
CREATE_BROWSE_REPORT=False
CREATE_SIP_REPORT=False
CREATE_SYS_ITEMS=False
CREATE_KMZ=False
INDEX_ADDED_FIELD=METADATA_PROCESSING_LEVEL:@METADATA_PROCESSING_LEVEL@|METADATA_SENSOR_NAME:@METADATA_SENSOR_NAME@|METADATA_SENSOR_CODE:@METADATA_SENSOR_CODE@|METADATA_SENSOR_OPERATIONAL_MODE:@METADATA_SENSOR_OPERATIONAL_MODE@
FIXED_BATCH_NAME=luigi
TEST_DONT_EXTRACT=False
TEST_DONT_WRITE=False
TEST_DONT_DO_BROWSE=False
TEST_JUST_EXTRACT_METADATA=True
# in GB
DISK_LOW_SPACE_LIMIT=1

[eoSip]
TYPOLOGY=SAR
VERSION=101
STORE_TYPE=SRC_PRODUCT_AS_FILE_INTO_EOZIP
STORE_COMPRESSION=False
STORE_EO_COMPRESSION=True

[Data]

[Ressources]
stretchAppExe=/opt/converter/current_iceye/eoSip_converter/addon_converter/run_stretchApp.sh

[Services]
xmlValidate=HttpCall@httpService@None|./ressources/services/xmlValidate.props
remoteLogger=RemoteLoggerService@remoteLoggerService@None|./ressources/services/remoteLogger.props